#title {
    background-color: black;
    color: white;
    text-align: center;
    font-family: helvetica, arial, sans-serif;
    background-image: url("grey.jpg");
}

canvas {
    display : block;
    margin : auto;
}
